* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('Hero-Background.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 20px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
    cursor: pointer;
}

nav ul li a:hover {
    color: #ff4081;
}

.container {
    text-align: center;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.profile {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    width: 300px;
    height: 300px;
}

.profile:hover {
    transform: scale(1.05);
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 5px solid #ff4081;
    animation: spin 10s linear infinite;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff4081;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e91e63;
}

.book-container {
    position: relative;
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    color: #333;
    font-family: 'Georgia', serif;
    font-size: 16px;
    top: 20px;
}

.book {
    width: 300px;
    height: 420px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    border-bottom: 3px solid #333;
}

.page {
    position: absolute;
    width: 300px;
    height: 420px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    text-align: left;
}

.page.active {
    opacity: 1;
}

.navigation {
    margin-top: 10px;
}

button {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e91e63;
}

.hidden {
    display: none;
}

.socialsInfoClass {
    position: relative;
    text-align: center;
    margin: 20px auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    color: #333;
    font-family: 'Georgia', serif;
    font-size: 16px;
}

.button-container {
    margin-top: 20px;
}

.social-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.discord-button {
    background: #7289da;
}

.discord-button:hover {
    background: #5b6eae;
}

.youtube-button {
    background: #ff0000;
}

.youtube-button:hover {
    background: #cc0000;
}